@charset "UTF-8";

.headline-confirm{
	visibility: hidden; 
}

.heading-title{
	color:rgb(11, 84, 11); 
}


/* 
.post-job-skill .select2-selection__arrow {
  display: none !important;
} */

#postjobSkill{
	appearance: none !important;
}

.tags{
	background-color:rgba(226,237,228,255);
	color: rgba(104,158,146,255) ;
	margin: 2px ;
	cursor: pointer;
}

.postJobDiv{
margin-top: 50px;
}


/*.smallSection{
	visibility: visible;
}

.mediumSection .largeSection{
	visibility: hidden;
}*/

.tags:hover{
	color: black ;
}
/* Hide the dropdown icon for post tab skill */
.post-job-skill .select2-selection--multiple:before {
    content: none !important;
    position: absolute; 
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}



.skill-container{
	background-color:rgba(0,34,1,255); 
	color: white; 
	padding : 5px 7px ;
	font-weight: normal;
}

.skill-container:hover{
	border : 1px solid ;
	background-color:white; 
	color: black; 
	font-weight: normal !important;
}


.remove-tag:hover{
	cursor : pointer ;
	color: black;
}

.search-container{
	position: relative; 
}

.skill-search{
	position: absolute; 
    top: 13%;
    left: 2%;
}

.bx-minus{
	display: none;
}





